{% trans_default_domain 'FOSUserBundle' %}
<div>
	<h2> <b> Identifiez vous </b></h2>
    <form class="m-t" action="{{ path("fos_user_security_check") }}" method="post">
        <div class="form-group">
        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" placeholder="Nom d'utilsateur" style="color:black;" />
        </div>
        <div class="form-group">
            <input type="password" id="password" name="_password" required="required" class="form-control" placeholder="Mot de passe" style="color:black;" />
        </div>

        <button class="btn btn-primary block full-width m-b" type="submit" id="_submit" name="_submit" > Connexion </button>
    </form>
    <a href="{{ path('homepage') }}" class="btn btn-info"> Accueil </a>
</div>

